* {
}
.profile-pic {
border-radius: 50%;
margin-bottom: 20px;
}


.section {
padding: 40px 20px;
text-align: center;
}
h2 {
margin-bottom: 20px;
}


.skills-container span {
display: inline-block;
background: #222;
color: #fff;
padding: 10px 20px;
border-radius: 20px;
margin: 5px;
}


.projects-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}


.project-card {
background: #fff;
width: 320px;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
padding-bottom: 15px;
}
.project-card img {
width: 100%;
}
project-card h3 {
margin: 10px 0;
}
.project-card a {
display: inline-block;
margin-top: 10px;
text-decoration: none;
background: #111;
color: #fff;
padding: 10px 15px;
border-radius: 5px;
}


footer {
background: #111;
color: #fff;
text-align: center;
padding: 15px;
margin-top: 40px;
}
